@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
/* style="background: url(img/others/t7.jpg) fixed  ;background-size:cover;"*/
html{
}
body {

}
p,a{
	font-family:'微軟正黑體';
}
a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
hr{
	width:80%;
}
.title{
	text-align:center;
	margin-top: -1%;
	font-size:50px;
}
/*css for login*/
 #mask {
	display: none;
	background: #FFEEDD; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup{
	display:none;
	background: #68CFE8;
	padding: 12px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left:50%;
	margin:auto auto;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

.login-popup img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}
.login-popup form img{
	width:8%;
}
.login-popup fieldset { 
	border:none; 
}

.login-popup form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

.login-popup form.signin .textbox span { 
	display:block;
}

.login-popup form.signin p, form.signin span { 
	color:#000; 
	font-size:17px; 
	line-height:18px;
} 

.login-popup form.signin .textbox input { 
	background:#fff; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#000; 
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

.login-popup form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
.login-popup form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

#login-btn:hover{
	width:50%;
	float:left;
	content:url(img/login/login-2.png);
}
#register-btn:hover{
	width:50%;
	float:left;
	content:url(img/login/register-2.png);
}
/*css for header*/
#header {
	position:fixed;
	background-color: #DCDCDC;
	opacity:0.9;
	width:100%;
	text-align:center;
	z-index:3;
}
#header a{
	text-align:center;
	font-size:25px;
	color:#4F4F4F;
}
#header img {
	width:3%;
}
#header .right{
	float:right;
}
.right a{
	text-align:right;
	font-size:25px;
	color:#4F4F4F;
}
#headerimg{
	display:block;
	margin:auto;
	width:30%;
}
/*css for main*/
#main {
	background: url(img/main/pattern.jpg) no-repeat center center ;
	opacity:0.9;
}
/*css for info*/
#info {
	background-color:#fff;
	margin-top: 0.5%;
}
#info .title{
	margin-top:1%;
}
#info .title img{
	width:10%;
}
#infocontent {
	font-size: large;
	text-align:center;
}
#info .titleb{
	width:100%;
	display:block;
	margin:0 auto;
	margin-top:-7%;
}
.infofooter img{
	width:5%;
	z-index:2;
	display:absolute;
}
/*css for video*/
/*css for charac*/
#charac .characimg {
	text-align:center;
}
#charac .charactext {
	text-align:center;
}
#charac .characarrow {
	text-align:center;
}
#charac .characimg img{
	width:20%;
	float:center;
}
#charac .charactext .chtexttitle{
	font-size:30px;
	font-weight:bold;
}
#charac .charactext img{
	width:20%;
}
#charac .characarrow img{
	width:5%;
}
/*css for rescue*/
#rescue .rescueimg {
	text-align:center;
}
#rescue .rescuetext {
	text-align:center;
}

#rescue .rescueimg img{
	width:20%;
	float:center;
}
#rescue .rescuetext .restexttitle{
	font-size:30px;
	font-weight:bold;
}
#rescue .rescuetext img{
	width:20%;
}
/*css for personal*/
#personal .personalimg {
	text-align:center;
}
#personal .personaltext {
	text-align:center;
}

#personal .personalimg img{
	width:20%;
	float:center;
}
#personal .personaltext .pertexttitle{
	font-size:30px;
	font-weight:bold;
}
#personal .personaltext img{
	width:20%;
}
/*css for inform*/
#inform .informimg {
	text-align:center;
}
#inform .informtext {
	text-align:center;
}

#inform .informimg img{
	width:20%;
	float:center;
}
#inform .informtext .intexttitle{
	font-size:30px;
	font-weight:bold;
}
#inform .informtext img{
	width:20%;
}
/*css for contactus*/